body {
    background-color: white;
}


#movie-container {
    display: flex;
    flex-flow: wrap;
    
    justify-content: space-evenly;

}

#movie-div {
    display: flex;
    flex-direction: column;
}