body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/cinema.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 120px;
}


a {
  color: #00B7FF;
  background-color: white;
  text-decoration: none;
  
  border-radius: 40% 40% 40% 40%;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  width: 300px;
  height: 50px;
 
}


#big-container {
  
  display: flex;
  justify-content: flex-end;
}

#container {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  flex-direction: column;
  
  width: 30%;
  margin-top: 150px;
}